Repository KNU-Finnect/Finnect_frontend, pull requests merged in 2024-06, with the labels that each got.

#31 피플 페이지 구현
  src/App.tsx
  src/apis/people/useGetPeople.ts
  src/apis/people/usePostPeople.ts
  src/atoms/people/usePeople.ts
  src/components/common/header/HeaderSubMenu.tsx
  src/components/common/modal/header/InviteModal.tsx
  src/components/common/modal/people/PeopleForm.tsx
  src/hooks/custom-hooks/usePeopleData.ts
  src/hooks/custom-hooks/usePeopleModal.ts
  src/hooks/queries/people/useGetPeopleQuery.ts
  src/hooks/queries/people/usePostPeopleQuery.ts
  src/interface/PeopleInterface.ts
  src/mocks/handler/Handler.ts
  src/mocks/handler/people/PeopleHandler.ts
  src/pages/companies/components/CompanyAgGrid.tsx
  src/pages/login/SigninPage.tsx
  src/pages/login/SignupPage.tsx
  src/pages/peoples/PeoplesBox.tsx
  src/pages/peoples/components/PeopleAgGrid.tsx
Labels: ✨ Feature, 💄 Design, 👽 API

#34 Feat/27 signup api
  pnpm-lock.yaml
  src/apis/AxiosClient.ts
  src/apis/auth/auth.api.ts
  src/apis/signup/signup.api.ts
  src/apis/signup/signup.request.ts
  src/components/login/IDCheckbox.tsx
  src/components/login/IDbox.tsx
  src/components/login/Namebox.tsx
  src/components/login/PWCheckbox.tsx
  src/components/login/PWbox.tsx
  src/constants/URL.ts
  src/pages/login/SigninPage.tsx
  src/pages/login/SignupPage.tsx
Labels: ✨ Feature, 👽 API

#40 Feat/35 refresh api
  src/apis/API_JWT.ts
  src/apis/AxiosClient.ts
  src/apis/auth/refresh.api.ts
  src/apis/workspace/useGetWorkSpace.ts
  src/apis/workspace/usePostWorkSpace.ts
  src/hooks/queries/auth/useRefreshQuery.ts
Labels: ✨ Feature, 👽 API

#41 Feat/28 dealpage
  src/apis/deal/useDeal.ts
  src/atoms/deal/useDeal.ts
  src/pages/deals/DealsBox.tsx
  src/pages/deals/components/DealAgGrid.tsx
Labels: ✨ Feature, 👽 API

#47 Feat/46 refresh token
  src/apis/AxiosClient.ts
  src/apis/auth/auth.api.ts
  src/apis/auth/refresh.api.ts
  src/hooks/queries/auth/useRefreshQuery.ts
Labels: 👽 API

#48 People 기능 나머지 구현 및 WorkSpace 회사 데이터 받아오기 및 생성하기 수정
  src/apis/people/useDeletePeople.ts
  src/apis/people/useGetPeople.ts
  src/apis/people/usePatchPeople.ts
  src/apis/people/usePostPeople.ts
  src/atoms/company/useSelectCompany.ts
  src/atoms/people/usePeople.ts
  src/components/common/modal/people/PeopleForm.tsx
  src/hooks/custom-hooks/company/useCompanyData.ts
  src/hooks/custom-hooks/company/useCompanyModal.ts
  src/hooks/custom-hooks/people/usePeopleData.ts
  src/hooks/custom-hooks/people/usePeopleModal.ts
  src/hooks/custom-hooks/people/useSelectCompany.ts
  src/hooks/custom-hooks/usePeopleData.ts
  src/hooks/queries/people/useDeletePeopleQuery.ts
  src/hooks/queries/people/usePatchPeople.Query.ts
  src/hooks/queries/people/usePostPeopleQuery.ts
  src/interface/PeopleInterface.ts
  src/pages/companies/CompaniesBox.tsx
  src/pages/companies/components/CompanyAgGrid.tsx
  src/pages/peoples/components/PeopleAgGrid.tsx
Labels: ✨ Feature, 💄 Design, 👽 API

#49 Feat/44 signin route
  src/apis/auth/auth.api.ts
  src/components/common/header/HeaderSubMenu.tsx
  src/pages/RootPage.tsx
Labels: ✨ Feature, 👽 API

#50 전체 컴퍼니 데이터 목록 받아오기 및 Company 내 ColumnType, People 데이터 받아오기
  package.json
  pnpm-lock.yaml
  src/apis/companies/useGetCVData.ts
  src/apis/companies/useGetCVDetailData.ts
  src/apis/companies/useGetCVPDetailData.ts
  src/apis/companies/usePostCompanyCol.ts
  src/atoms/company/useCompany.ts
  src/atoms/company/useCompanyPeople.ts
  src/hooks/custom-hooks/company/useCompanyData.ts
  src/hooks/custom-hooks/company/useCompanyViewData.ts
  src/hooks/custom-hooks/people/usePeopleData.ts
  src/hooks/queries/company/useGetCV.ts
  src/hooks/queries/company/useGetCVD.ts
  src/hooks/queries/company/useGetCVP.ts
  src/interface/CompanyInterface.ts
  src/main.tsx
  src/mocks/handler/company/CompanyHandler.ts
  src/pages/RootPage.tsx
  src/pages/companies/components/CompanyAgGrid.tsx
  src/pages/companies/components/CompanyColumnType.tsx
  src/pages/companies/components/CompanyPeople.tsx
  src/pages/companies/components/CompanyRDModal.tsx
  src/pages/companies/components/CustomCellRenderer.tsx
  src/pages/workspace/WorkSpacePage.tsx
  src/styles/Theme.ts
Labels: ✨ Feature, 👽 API

#52 Feat/42 deal page
  pnpm-lock.yaml
  src/apis/auth/auth.api.ts
  src/apis/deal/useDeal.ts
  src/components/common/header/HeaderSubMenu.tsx
  src/components/common/modal/deals/DealColumnForm.tsx
  src/components/common/modal/deals/DealForm.tsx
  src/components/common/sider/Records.tsx
  src/components/login/IDCheckbox.tsx
  src/components/login/PWbox.tsx
  src/interface/DealInterface.ts
  src/mocks/handler/Handler.ts
  src/mocks/handler/deal/DealHandler.ts
  src/pages/RootPage.tsx
  src/pages/deals/DealsBox.tsx
  src/pages/deals/components/DealActivity.tsx
  src/pages/deals/components/DealAgGrid.tsx
  src/pages/deals/components/DealCustomCell.tsx
  src/pages/deals/components/DealDetialModal.tsx
  src/pages/deals/components/DealMain.tsx
  src/pages/deals/components/DealNav.tsx
  src/pages/deals/components/DealNote.tsx
  src/pages/login/SigninPage.tsx
  src/pages/login/SignupPage.tsx
  tsconfig.json
Labels: ✨ Feature, 💄 Design, 👽 API

#59 Feat/58 dealpage func
  package.json
  pnpm-lock.yaml
  src/apis/deal/useDeal.ts
  src/apis/deal/useDealCell.ts
  src/apis/deal/useDealDetail.ts
  src/assets/finnectLogo.svg
  src/assets/react.svg
  src/components/common/modal/deals/DealColumnForm.tsx
  src/components/common/modal/deals/DealCompanyEditor.tsx
  src/hooks/custom-hooks/company/useCompanyViewData.ts
  src/hooks/custom-hooks/deal/DealCustomCell.tsx
  src/interface/DealInterface.ts
  src/pages/deals/DealsBox.tsx
  src/pages/deals/components/DealActivity.tsx
  src/pages/deals/components/DealAgGrid.tsx
  src/pages/deals/components/DealCustomCell.tsx
  src/pages/deals/components/DealDetialModal.tsx
  src/pages/deals/components/DealMain.tsx
  src/pages/deals/components/DealNote.tsx
  src/pages/deals/components/Dnote.tsx
  src/pages/deals/components/styles.css
  src/pages/login/InviteSigninPage.tsx
  src/pages/login/SigninPage.tsx
  src/pages/login/SignupPage.tsx
Labels: ✨ Feature, 💄 Design, 👽 API
